<?xml version="1.0"?>
<configuration>
	<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AWSResponderConsole.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
 <connectionStrings>
  <add name="AWSResponderConsole.Properties.Settings.AWSInventoryConnectionString"
   connectionString="Data Source=|DataDirectory|\AWSInventory.sdf"
   providerName="Microsoft.SqlServerCe.Client.3.5" />
 </connectionStrings>
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="outsidetasks.log"/>
      <param name="AppendToFile" value="true"/>
      <maxSizeRollBackups value="10"/>
      <datePattern value="yyyy-MM-dd"/>
      <rollingStyle value="Date"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="Date | Level | SessionID | Logger | Message | &#xA;"/>
        <param name="ConversionPattern" value="%date{ABSOLUTE}| %-5p | %-30logger| %m|%n"/>
      </layout>
    </appender>
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <userSettings>
    <AWSResponderConsole.AppSettings>
      <setting name="CloudCredentials" serializeAs="Xml">
        <value>
          <AWSCredentials xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <awsaccesskey>ULojPe7W%2FvlQAp7G2zgAncyGWP2h577D0IAzctAsTxq9gSZ%2FU77t%2BuPvE%2FFYaERRt4v2%2BZXIX5qG8WHGbq27f%2Bf0vgF95lPrg6%2FtB3nNIWfZiaKWqvcfKIwsOL9EW7o%2F4%2FbUA7QPaBvbZhiD0wvoXVrwhzIkNVfax%2F7dQhTSl30oRkrF3gW8buWomyrRMVLZE9a4Oe16TS9VPPeppwLA%2Fbgv55otvPpKMZ2jYyoidjrY7XM%2Fe169%2FDGJTFWSg2z1mPJ9ldXBb3OF52xxCrVTkqpi%2BUWKdyA%2BCrBGyav0MN5epOGplHX17CGMfTAT9EpC2M3IMvRzs%2BHsooj0s6wutQ%3D%3D</awsaccesskey>
            <awssecretkey>jbwB4VCrbNZhSvJAV7IjIEOO5h7A6kK9NP3zXjyIgH%2B45GQb%2B6XxsdCDJ7TMIsxz3HJ06SVMaeoSJlgeo8MePupTBH0HPFwYfE7uYXgEjW%2ByDlOHz%2BuGS1D9ksYLGQXWGDZZW8djIGQ%2FTowbNRNEDKhII6eIKRFFDwMeVIlNOKuUo5%2FOmvhkHKa0o6PLmcQKmdROyxSzNJ%2FfWtg71koTyAB9NKPBjEN5glCALkjSiaDlXJS2eOTXL%2FhYHCPdocckPhAkrJj62l6FQEPp58xexVBgrUJKrZ%2BSE0k8awA4LsNuZOt2I%2FRABGJynb%2F6wjlxlZs8GByxH73vaTEbnkU66A%3D%3D</awssecretkey>
            <mfaserial>k3SHvgL8em64jY69xEsOsjUCzL2scBy%2FKH4u4PyFoNc0LSp1khe8LMo3gPMhYntp9vR6l0ADS8ipCP7pvT443urtp87rPKDniCll%2F%2BUq%2FmgayuInU%2FPR%2FZWzTHXbGumWAqFMtWZ19QeWiVNBhuZnadeTOAkqc%2BEs%2B7Ourw5xI%2FJUh%2Bu58MSkFlt7YGr%2F4pXA4XNfdMRSnQCOyFT%2B74C%2BWbFsylEo5O4WDwtDsCtlgOmWOk65PMXAXrEY4%2Ft%2FFF23vl9qqDfqHfw79LGeByyN7dZ0X1CSr3XaNqLWx0iBfVPS%2FPH1fLNOgRjMFsySDKADiwLNQm%2FiPQZgsyESpZ5JRw%3D%3D</mfaserial>
            <awsauditrole>k7g5hX2RkRTKr6UD7fbLNGo2Czx4Yg1SAr3WT%2Bf%2FgsKYnwkOwDOl7W%2Bq56hFDl6wUcy2NpnlkoSTtFazpGknWdG%2BVR77iDoeECREFmhzmHxSU0v3bu2BsgJPsfNdVtftol3RTTczZjo6ALWS0HpdSlv2GG9JQG%2BoIZuAnMYptnue5h6ejUYBfsPDxvZ%2F5S8RwC22g4owjyJURR5xQpoAxFGUroWGjqVfh2ib%2F6sCkL%2FgGhMTEDtXHv6JqO%2FfaY9Fze82j9lD0o5wKT8japfW1Iq8kPu%2Bywa9HVrQo40mScZ8WpoUp10Ff3PWup9GfzewpKhMVXxYVXGiTwyWznQDAw%3D%3D</awsauditrole>
            <awsaccountstoaudit>nWNOPSPO%2F42LqXem0wbmPurCTla3%2FdJq7wFhKG3sbrjXX8lQoHZ%2FhM3CYyZMZ04ttpAx%2Bxc3sgEct8ALgcskcIWNGyAebZrnUQIQi8ofu3sb4Vp3Tx9lJhBMnPUTmldPRpsrPDSpU4MBxd6VMVY%2B3OFG4qdLL2%2F9BQ1LUxqoKkM2BNNEXcZpJXvWFGlbb3PEqcevovIyag4aao1othZf5AiwchTv3tGUlSAR2mRCwg9CG88sLPpQIkktT10rRDA8nPN%2BlNnNF9AsOpj5dZRQuQ68DstjkYr%2BMNWnfqLTY71seGjpfCMeMhYXQkaILdfpplxeQddDMjcYv2ApStkW%2BA%3D%3D</awsaccountstoaudit>
            <awsregionstoaudit>SMZXb7LkUiuNOGxpXjl6oJMa7Bl1NBRUB7qwFpDmu9SyVJGJzpd%2B%2B6fEpSm1ZIVlTbgv4tzsxEpxKpjPZiQzH99JgCfH8hPVHAnX0zHvOdEKR0czt9PkMIuhUPJV0%2BGXGY2lDmLc%2F491RaD%2Brhen6VuCAR2fRvvqVgbx42dUBS1Ct8uZEjQ3%2BXwie45Xp7xm5hS%2BHgmjLW%2FEf69%2Fjx5P08Orf2dixeVyY1ffTRfvW8HlbgSZtYYPKMTpCECXEIidH5pq78uXmGbhOBRWpcBrYucUUlSY4TIMuDHblCnMgyHstavDfxGoJVlTtYT7P5rVvE6WwjqMI0ftg7E%2FjHeTiA%3D%3D</awsregionstoaudit>
            <awsregionstoexclude>dq1avgCYcELfvJdfJHsOqRNICW9oVUNxghjjB9dQoMvpVnIaxt6OlIrhAtnN4eCh0%2FcBc7jnmuq8SBGXrMg7IbHUIkBkaZ2%2FCdPecugV96Gga1TwhAHQoYFc5ioff18TmVFTruUl67pV6rInYOicteU%2Bz0E2fyXmweYSdZwgLYjH5QAUuSc1qdcVEdSMlnLEmSG88IPZ0gwHuR50HgMeH1Cy%2BwSHP3f9Q1c5K9Om69ZcWwaHlTcBdoxj%2F4vbCXzJbkB1%2FSWtsxRzJo2MKBno9qgfNvXKUktTjAIUiD8uq%2FVVozMNW9LIUgpcPCLUK8c5L9SkyMfA9WgkQ%2FDRZQ%2F0tA%3D%3D</awsregionstoexclude>
            <auditreportfile>Mcp3P8T0G%2FbU8Zk6HfNLOK%2FPxX%2FHE%2Fo7%2FLKNBYVTe8%2FMJBHf6YTgj%2FRO1vsTwYzS%2BzgtG5bqyVmL69BxPm%2Fu5bajL6rgdp1cyiC01ZdfpoUwW84QOHZS%2FSS5BIqwQn9jzgweeqKoS5xHkabwvQJYrLltD9C7gRYPnA2V4bviwrXOLDlcJqW%2Bw4JrI0XUPuP6PzirgI7sYGEWDCLWaAWtCCwhmH9J7UMxYaLL6T7AB6bhrCUuHnUv7CiMC54ukISby3cKtgXNW87YsPp234I7bwmyt%2BaOKpTHMbODFO7jRMc9rJsUAa5%2FxYM5CiOe3jTAnJbpkEesm72WgljHlukQTQ%3D%3D</auditreportfile>
            <tokenlifetime>bi7ekWubXLJgGSY5XEuyFsma%2FVhp9np5%2BN3mSGyjR7gbvuEiIDHypNBDmfvjt0mBrtT5Mmffh2e2ZaadoCr%2FJEee51zcl4kFgGGlHOA0N0p8dX6uJHUpfeFuPlYNJdKmKVGAvqut%2B5wA49fkpT0SWQO3PbBeSYOkccLUrifrD%2F%2BLvKhRx3G6vSC4%2BKaxkBqey91Oygdp6u8QKFrAvvHoTcpQUOUQ%2FeaW1A%2BVUrmHXUqlJCS3N%2Bgx6em%2F021N3xxcq1M7JZTxQgvGzN6RjL59nZGSbgzhzx%2Bgc6hVWsPbLGsLKODSci2ECv13%2FcH9uJXTjV9Pe5XQZy7rLoJas27yuQ%3D%3D</tokenlifetime>
            <requireccbapproval>fyGBl4vOoTbYo3io%2BoCfRFBltF5q%2FvQsqr%2FwATsjCe7dZxzd2WMwKsap3aORd8xKSdqEozzGCcfUWJZLspK%2BIUzqrvoV9hU3W%2FbuzxInMVBw6PvnVvSeCJcioTT555DcWom0gR9zBQKg1XCurIP45K1ElUeoSjPX47AkTehAwBSMxFAbI6E60O%2FpRdj%2FJoQpZ7IEpruAaDdHhBMXFN3fPEUmTvTdrZOZzgi3Z6pktSwFSvVXhpXkNQ6cpdeVi8yOTfEHy7qOnXISA6m9LkdNg4feEC%2BSZTp7O%2FE1B5y6DnHCkMYqYge4l1FH3VhzUQHK5TdvfYEKYCxygicttHBEDA%3D%3D</requireccbapproval>
            <baselinedate>c6qWHcUi1ClNIYK2FLyv%2Bt6yTZPWDejFVui30Xmemynz1uekW2ND9nNXkPVZ3qB7BTvMOrcpVicHTMuCi67c3Yd8TKbMfrT%2B4UyGyM2MHQCX6kS7oaXczL0Trhk28yASYU%2BbgkStjHJMT65Nii3jqJMBw%2BmFRWhJlPsbs9Rj08al252%2FSbrz4QERYqF99JLTk%2BWZpPHoeNDvcXw9jGFnqOatw62NFAIFIGs0Qb2sUVwIW%2FUUp6oVY8%2FvX97Kp%2Fnq9T2KJrwF2JDATldtcaATsFmjlW7W3JIYvRnE%2Bs283hldea%2FI1yhKj0QBJvkPRy7xOXPkR0IVuCCgmS08xQ82ZA%3D%3D</baselinedate>
            <awsconfigurationitemdatabase>A4m72m97e%2B1NZmrzUW8EPuc0uwMizff%2F1%2FA0rhe%2FaNJOwcI%2BJegLUZsaOu%2FJBc%2BKzfa4S4cX1Rfflz1txkkAeIF0ujF9%2BqSrq6WEed3rHkzrDV6C4pt5k6VqWF%2Fmif2LWEvqiRkVA8ZG5FGcxmWRaV6WSBwVCwYjgAZeBHoGZugFfC8mgo4rgPYwFLa7RDqTNkBh4iLUu8KaAciJxZBfIcmj5aYNOGxHNysveUzT1%2BTe5jm3UjCRya5ktjAEzivU5rCcKAq2mErD8wg5ddj5Nv%2FFtRGGbOjCtr8Yf40lwAU5oOIp%2FF2aJhBUuJSoS%2F4rLRAS%2Bh4LvTnZzReaiEmCFA%3D%3D</awsconfigurationitemdatabase>
          </AWSCredentials>
        </value>
      </setting>
      <setting name="ApplicationEncryptionCertificateThumbprint" serializeAs="String">
        <value>0296B635308B481EA16854FC8BFBB71CB0B4134A</value>
      </setting>
    </AWSResponderConsole.AppSettings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
